body{

	background-color:	#3CB371 ;
	color: #90EE90
	margin-right: 50px;
	margin-left: 50px;
	margin-right: 50px;
	

}
h1, h2{
	color: #000000;
	text-align: center;

}

p{
	font-size: 18px;
	text-align: center;
}
img{
	width: 50%;

}

figure{
	text-align: center;
}